
html {
    background-color: #802213;
    font-size: 20px;
  }

h1{
    text-align: center;
    margin: 30px auto;
}

p{
    font-size: 25px;
}
  
  ul {
    background: #FF8573;
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 50px;
   
  }
